<!DOCTYPE HTML>
<html>
<head>
<title>{$eyou.field.seo_title}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport" />
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/global.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/widget.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/variouscomponents.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/images.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/theme.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/color_0.css">
{eyou:static file="skin/css/bootstrap.min.css" /}
{eyou:static file="skin/css/common.css" /}
{eyou:static file="skin/css/animate.css" /}
{eyou:static file="skin/css/css.css" /}
{eyou:static file="skin/css/media.css" /}
{eyou:static file="skin/css/foot.css" /}
<link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/style.css" />

{eyou:static file="skin/js/jquery-1.11.3.js" /}
{eyou:static file="skin/js/slick.min.js" /}
{eyou:static file="skin/js/common.js" /}
{eyou:static file="skin/js/wow.min.js" /}
{eyou:static file="skin/js/jquery.js" /}
<script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/jixie.js" ></script>
<!--[if lt IE 9]>
    {eyou:static file="skin/js/html5shiv.min.js" /}
    {eyou:static file="skin/js/respond.min.js" /}
    {eyou:static file="skin/js/selectivizr-min.js" /}
  <![endif]-->
<script type="text/javascript">
$(function(){
    dataAnimate();
    (function($,lanno){
        if(lanno === "" || lanno === "default"){
            return '';
        }
        $(".w-languege").each(function(){
            $(this).find("a").each(function(){
                if($(this).data("lanno") === lanno){
                    $(this).addClass("cur");
                }else{
                    if($(this).hasClass("cur")){
                        $(this).removeClass("cur");
                    }
                }
            });
        });
    })(jQuery,"cn");
});
</script>
</head>
<body>
	<div class="head-box">
	  <div class="fh"> <img src="{eyou:global name='web_templets_m' /}/skin/img/fh.png" onClick="javascript:window.history.go(-1)" alt="返回"> </div>
	  <h2>{$eyou.field.typeid|gettoptype=###,'typename'}</h2>
	  <ul class="nva-btn" id="nva-box">
	    <li></li>
	    <li></li>
	    <li></li>
	  </ul>
	</div>
	{eyou:include file="header.htm" /}
<div class="">

  <div class="w-container w-main">
    <div class="w-section">
      <div class="row" >
        <div class="row-mask" ></div>
        <div class="wrap-content-in">
          <div class="li-div">
            <div class="w-title w-title1"  style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="">钛环/钛管计算公式：单位：mm</h2>
                    <span class="color_vice color_span" style="">{$eyou.field.typeid|gettoptype=###,'englist_name'}</span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>	  
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0"  cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="14.83739837398374%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:40px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                      </div></td>
                    <td class="td-w" width="72.81029802027757%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-form"   style=""> {eyou:guestbookform type='default'}
                            <form method="POST"  enctype="multipart/form-data" action="" id="myform">
                              <div class="li-div" >
                                <div class="w-form-section  clearfix" style="">
                                  <div class="w-form-shartText">
                                    <label class="w-label-form"> <span>件数</span> <span class="star_note">*</span> </label>
                                    <div class="" style="">
                                      <input class="w-text-form" style="width:100%" type="number"  name="" id="number" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="li-div" >
                                <div class="w-form-section  clearfix" style="">
                                  <div class="w-form-tel">
                                    <label class="w-label-form"> <span>外径</span> <span class="star_note">*</span> </label>
                                    <div class="" style="">
                                      <input class="w-text-form" style="width:100%" type="number"  name="" id="outdiameter" >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="li-div" >
                                <div class="w-form-section  clearfix" style="">
                                  <div class="w-form-Email">
                                    <label class="w-label-form"> <span>壁厚</span> <span class="star_note">*</span> </label>
                                    <div class="" style="">
                                      <input class="w-text-form" style="width:100%" type="number"  name="" id="thickness"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
							  <div class="li-div" >
							    <div class="w-form-section  clearfix" style="">
							      <div class="w-form-Email">
							        <label class="w-label-form"> <span>长度</span> <span class="star_note">*</span> </label>
							        <div class="" style="">
							          <input class="w-text-form" style="width:100%" type="number"  name="" id="length"/>
							        </div>
							      </div>
							    </div>
							  </div>
							  
							  <div class="w-form-submit">
							    <div class="w-buttom" style="text-align: center;">
							      <div class="btn-default-w g-form-components count_btn" onclick="checkForm();"> <span class="btn-inner">计算</span> </div>
							    </div>
							  </div>
							  
							  <div class="li-div" >
							    <div class="w-form-section  clearfix" style="">
							      <div class="w-form-Email">
							        <label class="w-label-form"> <span>重量(kg)</span> <span class="star_note">*</span> </label>
							        <div class="" style="">
							          <input id="weight"  class="w-text-form" style="width:100%" type="number"  name="" id="weight"/>
							        </div>
							      </div>
							    </div>
							  </div>
                           
                            
                              {$field.hidden}
                            </form>
                            <script type="text/javascript">
                            function checkForm()
                            {
                              if(document.getElementById('number').value.length == 0)
                              {
                                alert('请输入您的件数');
                                return false;
                              }
                              if(document.getElementById('length').value.length == 0)
                              {
                                alert('请输入您的长度');
                                return false;
                              }
							  if(document.getElementById('outdiameter').value.length == 0)
							  {
							    alert('请输入您的外径');
							    return false;
							  }
							  if(document.getElementById('thickness').value.length == 0)
							  {
							    alert('请输入您的壁厚');
							    return false;
							  }      
                            }
							
							  $(".count_btn").click(function(){
							    var number      = $("#number").val();
							    var length   = $("#length").val();
							    var outdiameter   = $("#outdiameter").val();
							    var thickness = $("#thickness").val();
                                                            var result = number*(outdiameter-thickness)*thickness*3.14*4.51*length*(1/1000000);
							    $("#weight").val(result.toFixed(8));
							  });
							
                          </script> 
                            {/eyou:guestbookform} </div>
                        </div>
                      </div></td>
                    <td class="td-w" width="13.08808117378049%"><div class="div-padding">
                        <div class="li-div" >
                          <div class="w-space space-b noChoose"  style="height:40px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {eyou:include file="footer.htm"/} </div>
<div class="topTel" onclick="$('body,html').animate({scrollTop: 0}, 500);"><i class="fa fa-arrow-up"></i></div>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.global.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.form.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/lightbox.min.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.custom.js"></script>
</body>
</html>